
.btn-sm {
  padding: var(--button-sm-padding-y) var(--button-sm-padding-x);
}

.btn-lg {
  padding: var(--button-lg-padding-y) var(--button-lg-padding-x);
}

.btn-narrow {
  padding-left: var(--button-narrow-padding-x);
  padding-right: var(--button-narrow-padding-x);
}

:root {
  --button-sm-padding-y: .25rem;
  --button-sm-padding-x: .5rem;
  --button-lg-padding-y: 1rem;
  --button-lg-padding-x: 1.25rem;
  --button-narrow-padding-x: .5rem;
}
